/*Universal CSS* /*/

* {
    list-style: none;
    text-decoration: none;
    clear: both;
}

.container {
    margin: 0 auto;
    width: 1000px;
    border: 1px solid grey;
    padding: 20px;
}


/*body {
    background-color: aliceblue;
}*/


/* albumPage.html css */

#logo {
    margin: 0 auto;
    width: 45%;
    height: 40%;
}

img {
    width: 100%;
}

.nav {
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 1px auto;
}


/*contactUs.html css */

title {
    /*style title tag */
}

.form {
    float: left;
}

form {
    text-align: right;
    margin-top: 10px;
}

.length {
    width: 215px;
}

input,
select,
options,
textarea {
    margin-left: 15px;
    margin-bottom: 15px;
}

input.radio {
    margin-left: 42.5px;
}

textarea {
    height: 100px;
}

.radius {
    border-radius: 2px;
}

.vertical {
    vertical-align: top;
}