/*Global properties and values
//////////////////////////////
*/


* {
    box-sizing: border-box;
}

html {
    width: 90%;
    margin: 0 auto;
}

ul li {
    display: inline-block;
    margin: 0 5px;
    padding: 0 5px;
}

body {
    margin-bottom: 120px;
    background-color: aliceblue;
}

.container {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

footer,
h1 {
    text-align: center;
}

address {
    vertical-align: middle;
}
