 /* Universal Styles  - ALBUM-V4*/
 
 * {
     box-sizing: border-box;
     text-decoration: none;
     list-style: none;
     font-family: 'Trirong', serif;
 }
a:hover, a h2:hover {
    text-decoration: underline;
    background-color: bisque;
}
 
 .container {
     width: 90%;
     margin: 0 auto;
 }
 
 div.nav,
 div#logo,
 div#logo2 {
     margin: 0 auto;
     text-align: center;
 }
 
 img {
     max-width: 100%;
 }

 #logo2 {
     margin-top: 10px;
     padding-top: 25px;
     box-shadow: 20px 20px 15px #888888;
     max-width: 450px;
     height: 300px;
     background-image: url(../../Section3-UI-HTML/img/AnnieLennoxCollection.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: auto;
 }
 
 .title {
     font-family: 'Pacifico', cursive;
 }
 
 div.container {
     background-color: azure;
     border-radius: 15px;
 }
 /*   TABLE  
/////////////////////////
*/
 table {
     width: 100%;
     border: 1px solid seagreen;
     border-collapse: collapse;
 }
 
 th,
 caption {
     background-color: seagreen;
     height: 30px;
 }
tr td {
    font-style:italic;
}
 td {
     height: 30px;
 }
 
 caption {
     font-size: 20px;
 }
 
 td {
     text-align: center;
 }
