         /* Universal Styles*/

         * {
             box-sizing: border-box;
             font-family: 'Trirong', serif;
         }

         a:hover,
         a h2:hover {
             background-color: tomato;
         }

         body {
             background-color: azure;
         }
         /* AlbumHTML5 */

         #img-box {
             margin: 0 auto;
             height: 300px;
         }

         #img {
             width: 100%;
             height: 100%;
             margin-top: 10px auto;
             padding-top: 25px;
             box-shadow: 20px 20px 15px #888888;
             background-image: url(../../Section3-UI-HTML/img/AnnieLennoxCollection.jpg);
             background-repeat: no-repeat;
             background-position: center;
         }

         .title {
             font-family: 'Pacifico', cursive;
         }

         caption {
             font-size: 1.5em;
         }
