 /* Universal Styles*/

 .container {
     box-sizing: border-box;
     width: 1000px;
     margin: 0 auto;
  }

 div.nav,
 div#logo,
 div#logo2 {
     margin: 0 auto;
     text-align: center;
 }

 img {
     max-width: 100%;
 }
 /* AlbumHTML2 */

 #logo2 {
     margin-top: 10px;
     padding-top: 25px;
     box-shadow: 20px 20px 15px #888888;
     max-width: 450px;
     height: 300px;
     background-image: url(../../Section3-UI-HTML/img/AnnieLennoxCollection.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: auto;
 }

 .title {
     font-family: 'Pacifico', cursive;
 }
