/*Global properties and values 
//////////////////////////////
*/

* {
    box-sizing: border-box;
}

html {
    width: 1100px;
    margin: 0 auto;
}

ul li {
    display: inline-block;
    margin: 0 5px;
    padding: 0 5px;
}

body {
    margin-bottom: 120px;
    background-color: aliceblue;
}

.container {
    width: 1100px;
    margin: 0 auto;
}


/* HOME PAGE
    /////////////////////
*/

.main {
    background-color: hsl(120, 100%, 50%);
    /*backup */
    border-radius: 15px;
    box-shadow: 10px 10px 5px #888888;
    width: 450px;
    height: 150px;
    text-align: center;
    margin: 0 auto;
}

img {
    border-radius: 15px;
    box-shadow: 10px 10px 5px #888888;
}

.subMain {
    width: 450px;
    text-align: center;
    margin: 0 auto;
}


/* FORM PAGE /////////////////////////////
/////////////////////////////*/


/* test */


/*  using box-sizing*/

.form {
    max-width: 1000px;
    margin: 0 auto;
}

form {
    width: 50%;
    margin: 0 auto;
}

input,
textarea,
select {
    display: inline-block;
    margin: 0 auto;
    padding: 5px 0;
    text-align: left;
}

.group {
    padding-bottom: 10px;
}

.left {
    display: inline-block;
    min-width: 50%;
    text-align: right;
    padding-right: 10px;
}

.right {
    display: inline-block;
}

.text-align-right {
    text-align: right;
    padding-right: 70px;
}

.length {
    width: 170px;
}


/*  <textarea> */

textarea {
    height: 100px;
}

.vertical {
    vertical-align: top;
}


/* end of <textarea> */

footer,
h1 {
    text-align: center;
}

address {
    vertical-align: middle;
}


/* Menu.html - Grid container and Grid Columns
    ////Menu Items////////////////////////////
*/

.grid-container {
    position: relative;
    width: 1000px;
    padding: 0 10px;
    margin: 0 10px;
    text-align: center;
}

.grid-1 {
    width: 6.5%;
}

.grid-2 {
    width: 15%;
}

.grid-3 {
    display: inline-block;
    width: 23.5%;
}

.grid-4 {
    display: inline-block;
    width: 32%;
}
