/*Global properties and values
//////////////////////////////
*/

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Trirong', serif;
}

body {
    background-image: url(../img/background-sandy.jpg);
    margin: 0 auto;
    padding: 0 20px;
}

.container {
    background-color: aliceblue;
    border-radius: 5px;
}

header {
    margin-bottom: 25px;
    padding: 25px;
    clear: both;
}

.nav {
    font-size: 1.2em;
}

#img1 {
    width: 50%;
    height: auto;
    padding: 15px;
}

.img-responsive {
    box-shadow: 20px 20px 15px #888888;
}

ul li a:hover {
    font-weight: bold;
}

ul li a:visited {
    color: blueviolet;
}

.title {
    font-family: 'Sofia', cursive;
    color: aliceblue;
}

address {
    vertical-align: middle;
}

footer {
    margin-top: 10px;
}

.carousel-caption {
    color: yellow;
}


/*
///////////////////////CONTACT FORM ////////////////////
*/

form {
    margin-top: 15px;
    margin-bottom: 15px;
}
.contact {
    height: 45px;
    background-color: beige;
}
input.contact,
textarea.contact {
    width: 100%;
 }

select.contact {
    width: 50%;
    padding: 0;
    margin: 0 auto;

}
