* {
    box-sizing: border-box;
    font-family: 'Trirong', serif;
}

title,
.title {
    font-family: 'Sofia', cursive;
}

label,
input {
    display: inline;
    margin: 0 auto;
    width: 45%;
    height: 50px;
    text-align: center;
}

label {
    padding: 20px 20px;
    font-size: 1.2em;
}

caption {
    font-size: 1.5em;
    color: darkgray;
    text-shadow: 6px 6px lightgrey;
}

form,
#results {
    width: 50%;
    margin: 0 auto;
}

#results,
#playAgain {
    display: none;
}

button {
    width: 50%;
    height: 50px;
}


/*  ///////////////////////////////////
   ////////////////MEDIA QUERY////////////
////////////////////////////////////////////
*/

@media screen and (max-width: 674px) {
    body {
        font-size: 1.2em;
    }
    .title {
        font-size: 2em;
    }
    #play button,
    #playAgain button {
        width: 100%;
    }
    button,
    input,
    label {
        display: block;
        width: 100%;
    }
}
