/*Global properties and values
//////////////////////////////
*/

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Trirong', serif;
}

ul li a:hover {
    font-weight: bold;
}

ul li a:visited {
    color: brown;
}

.title {
    font-family: 'Sofia', cursive;
}

html {
    width: 90%;
    margin: 0 auto;
}

ul li {
    display: inline-block;
    margin: 0 5px;
    padding: 0 5px;
}

body {
    margin-bottom: 120px;
    background-color: aliceblue;
}

.container {
    width: 90%;
    margin: 10px auto;
    padding-top: 20px;
    border-radius: 10px;
    clear: both;
}
hr {
    padding-bottom: 5px;
    clear: both;
}

/*  FORM - CONTACT */

label.bold {
    font-weight: bold;
}

.form {
    max-width: 90%;
    margin: 0 auto;
}

form {
    width: 100%;
    margin: 0 auto;
}

input,
textarea,
select {
    display: inline-block;
    margin: 0 auto;
    padding: 5px 0;
    text-align: left;
}

.group {
    padding-bottom: 10px;
}

.left {
    display: inline-block;
    min-width: 50%;
    text-align: right;
    padding-right: 10px;
}

.right {
    display: inline-block;
}

.text-align-right {
    text-align: right;
    padding-right: 2%;
}

.length {
    width: 25%;
}


/*  <textarea> */

textarea {
    height: 25%;
}

.vertical {
    vertical-align: top;
}


/* HOME PAGE
    /////////////////////*/

.container2 {
    background-color: #FF6347;
}

#img1 {
    width: 50%;
    height: 300px;
    margin: 2% auto;
    border-radius: 1.5%;
    box-shadow: 10px 10px 5px #888888;
    background-image: url(../img/votex.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

img {
    width: 100%;
    padding: 20px 0;
}

.subMain {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

footer,
h1 {
    text-align: center;
    clear: both;
}

address {
    vertical-align: middle;
}

footer {
    margin-top: 10px;
}

/* Menu.html - Grid container and Grid Columns
    ////Menu Items////////////////////////////
*/

.grid-container {
    box-sizing: border-box;
    float: right;
    position: relative;
    width: 100%;
    border-radius: 10px;
    padding: 0 10px;
    margin: 10px auto;
    text-align: center;
    background: linear-gradient(to bottom, #FF826C 0%, #FF9A87 100%);
}

.grid-1 {
    width: 6.5%;
}

.grid-2 {
    width: 15%;
}

.grid-3 {
    display: inline-block;
    width: 23.5%;
    vertical-align: middle;
}

.grid-4 {
    display: inline-block;
    width: 32%;
    vertical-align: middle;
}


/*Media Query - for Responsvie Grid*/

@media screen and (max-width: 767px) {
    /*/FORM - CONTACT*/
    .left,
    .group {
        text-align: center;
        padding-right: none;
        font-size: .9em;
    }
    .length {
        width: 100%;
    }
    /*  <textarea> */
    textarea {
        height: 100%;
    }
    /*GRID - MENU*/
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4 {
        display: block;
        width: 100%;
        font-size: 1em;
    }
}
